*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: black;
}
/*Header*/
header{
  display: flex;
  max-width: 1330px;
  margin: auto;
}
header div{
  border-right: 0.5px solid rgb(157, 160, 165);
  padding: 15px 22px 5px 22px;
  cursor: pointer;
}
header div a{
  font-weight: bold;
}
.logo-header{
  padding: 10px 15px 10px 0px;
}
.id{
  padding: 15px 100px 5px 15px
}
.id a pre{
  font-weight: bold;
  font-size: 16px;
}
.id:hover{
  padding-bottom: 6px;
  border-bottom: 5px solid rgb(58, 121, 224);
}
.l-home:hover{
  padding-bottom: 6px;
  border-bottom: 5px solid rgb(58, 121, 224);
}
.l-news:hover{
  padding-bottom: 6px;
  border-bottom: 5px solid rgb(73, 14, 30);
}
.l-sport:hover{
  padding-bottom: 6px;
  border-bottom: 5px solid rgb(183, 209, 14);
}
.l-weather:hover{
  padding-bottom: 6px;
  border-bottom: 5px solid rgb(80, 202, 229);
}
.l-shop:hover{
  padding-bottom: 6px;
  border-bottom: 5px solid rgb(67, 132, 216);
}
.l-earth:hover{
  padding-bottom: 6px;
  border-bottom: 5px solid black;
}
.l-travel:hover{
  padding-bottom: 6px;
  border-bottom: 5px solid black;
}
.l-capital:hover{
  padding-bottom: 6px;
  border-bottom: 5px solid rgb(0, 20, 45);
}
#more pre{
  font-weight: bold;
  font-size: 18px;
}
#more:hover{
  padding-bottom: 6px;
  border-bottom: 5px solid black;
}
#more:active{
  padding-bottom: 6px;
  border-bottom: 5px solid black;
}
.search{
  padding: 10px 0px 5px 20px;
  border-right: none;
}
.search form input{
  background-color: rgb(227, 228, 229);
  margin-right: 0px;
  width: 150px;
  height: 28px;
  border: none;
}
.search form button{
background-color: rgb(227, 228, 229);
margin-left: 0px;
border: none;
height: 28px;
width: 30px;
font-size: 16px;
}
/*the list of more button*/
#list-more{
  display: none;
  border-top: 0.5px solid lightblue;
  border-bottom: 0.5px solid lightblue;
}
.list-more-boxes{
  max-width: 1400px;
  margin: auto;
  display: flex;
}
.list-part{
  margin: 20px 0px 30px 0px;
  display: flex;
}
.links{
  padding: 20px;
  font-weight: bold;
  padding: 5px 100px 5px 5px;
  margin-top: 10px;
  margin-left: 85px;
}
.links:hover{
  background-color: rgb(74, 75, 76);
}
.links:hover a{
  color: white;
}
.third div{
  padding-right: 70px;
}
.list-header div{
  font-size: 34px;
  padding: 3px 0px 10px 0px;
  margin-right: 40px;
}
/*nav area*/
nav{
  background: black;
}
nav div{
  margin: auto;
  display: flex;
  max-width: 1330px;
}
nav div div{
  padding-top: 15px;
  padding-bottom: 15px;
}
nav div div a{
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.middle-nav{
  padding-right: 30px;
}
.first-nav , .last-nav{
  padding-right: 300px;
}
/*Article will be to two part head and body*/
/*1- head of Article*/
.a-h-image div img{
  width: 100%;
  height: auto;
}
.a-h-image div p{
  position: absolute;
  top: 40%;
  left: 38%;
  z-index: 1;
  font-size: 100px;
  font-weight: bold;
  color: white;
  text-align: center;
}
/*2- separate to two part */
.a-body{
  display: flex;
}
/*a- author*/

/*b- separate to two part */
/*-----tile of article------*/
.title div{
  display: flex;
}
/*---------article----------*/

/* another style*/
@media screen and (max-width: 1248px) {
  body {
    background: url("http://www.pupilo.tax/wp-content/uploads/2017/01/page-under-construction.png") no-repeat;
    background-size: cover;
    display: none;
  }
