*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: black;
}

/*Header*/

header{
  display: flex;
  max-width: 1270px;
  margin: auto;
}
header div{
  border-right: 0.5px solid rgb(157, 160, 165);
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}
.logo-header{
  padding: 6px 15px 0px 0px;
}
.id{
  padding: 10px 100px 5px 15px;
}
.id a pre{
  font-size: 16px;
}
.id:hover{
  padding-bottom: 4px;
  border-bottom: 5px solid rgb(58, 121, 224);
}
.l-home:hover{
  padding-bottom: 5px;
  border-bottom: 5px solid rgb(58, 121, 224);
}
.l-news:hover{
  padding-bottom: 5px;
  border-bottom: 5px solid rgb(73, 14, 30);
}
.l-sport:hover{
  padding-bottom: 5px;
  border-bottom: 5px solid rgb(183, 209, 14);
}
.l-weather:hover{
  padding-bottom: 5px;
  border-bottom: 5px solid rgb(80, 202, 229);
}
.l-shop:hover{
  padding-bottom: 5px;
  border-bottom: 5px solid rgb(67, 132, 216);
}
.l-earth:hover{
  padding-bottom: 5px;
  border-bottom: 5px solid black;
}
.l-travel:hover{
  padding-bottom: 5px;
  border-bottom: 5px solid black;
}
.l-capital:hover{
  padding-bottom: 5px;
  border-bottom: 5px solid rgb(0, 20, 45);
}
.l-culture{
  display: none;
}
#more{
  padding-top: 7px;
}
#more span{
  padding-left: 45px;
}
#more:hover{
  padding-bottom: 5px;
  border-bottom: 5px solid black;
}
#more:active{
  padding-bottom: 6px;
  border-bottom: 5px solid black;
}
.search{
  padding: 6px 0px 0px 20px;
  border-right: none;
}
.search form input{
  background-color: rgb(227, 228, 229);
  margin-right: 0px;
  width: 150px;
  height: 28px;
  border: none;
}
.search form button{
background-color: rgb(227, 228, 229);
margin-left: 0px;
border: none;
height: 27px;
width: 30px;
font-size: 16px;
}

/*the list of more button*/

#list-more{
  display: block;
  border: 0.5px solid lightblue;
}
.list-more-boxes{
  max-width: 1270px;
  width: 100%;
  margin: auto;
  display: flex;
}
.list-more-boxes div{
  display: flex;
  flex-wrap: wrap;
}
.list-more-boxes  div div{
  text-align: left;
  width: 150px;
  margin: 5px 50px 5px 0px;
  padding: 5px 0px 5px 5px;
}
.list-more-boxes  div h2{
  font-size: 26px;
  margin: 10px 100px 0px 0px;
}
.list-more-links{
  margin-top: 20px;
}
.links:hover{
  background-color: rgb(74, 75, 76);
}
.links:hover a{
  color: white;
}
.links:nth-last-child(1n+17){
display: none;
}
/*nav area*/

nav{
  background: black;
}
nav div{
  display: flex;
  margin: auto;
  max-width: 1270px;
}
nav div div{
  padding-top: 15px;
  padding-bottom: 15px;
}
nav div div a{
  color: white;
  font-weight: bold;
}
.middle-nav{
  padding-right: 30px;
  cursor: pointer;
  margin: 0;
}
.first-nav , .last-nav{
  padding-right: 300px;
  margin: 0;
}
.first-nav a, .last-nav a{
  cursor: pointer;
}
#black-menu{
  display: none;
}
/*Article will be to two part head and body*/
/*head of Article will separate into part*/
/*part for Image with Logo*/

article div{
  position: relative;
}
.a-h-image div img{
  width: 100%;
  height: auto;
}
.jerceka{
  position: absolute;
  top: 35%;
  left: 35%;
  z-index: 1;
  font-size: 100px;
  font-weight: bold;
  color: white;
  text-align: center;
}

/*that part for header under the image*/

.under-image{
  position: absolute;
  top: 93%;
  left: 1%;
  right: 1%;
}
.title{
  display: flex;
  justify-content: center;
}
.author{
  background: white;
  padding: 10px 230px 10px 15px;
  font-weight: bold;
  margin-right: 5px;
}
.right-part{
  margin-left: 5px;
}
.title-f-p{
  background: orange;
  color: white;
  padding: 17px 0px 17px 15px;
  font-size: 22px;
  font-weight: bold;
}
.title-s-p{
  display: flex;
  background: rgb(74, 75, 76);
  padding: 8px 0px 8px 15px;
  font-size: 20px;
}
.title-s-p a{
  color: white;
}
.logo-for-title-s-p{
  padding-right: 30px;
  padding-left: 20px;
  padding-top: 7px;
}
.logo-for-title-s-p a{
  border-right: 1px solid white;
  padding-right: 100px;
}
.text-for-title-s-p{
  padding-top: 7px;
  padding-right: 170px;
  font-size: 20px;
}
.more-for-title-s-p{
  display: flex;
  margin-right: 5px;
}
.more-for-title-s-p a{
  border: 2px solid rgb(75, 169, 237);
  padding-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
}
.more-for-title-s-p div{
  background: rgb(75, 169, 237);
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 7px;
}

/*the paragraph*/

.article div{
  margin-left: 35%;
  max-width: 62%;
  padding-top: 80px;
  marging-right: 3%;
  font-size: 18px;
  color: #595959;
}
.article ul{
  padding-left: 180px;
}
.article ul li{
  padding-top: 20px;
  font-size: 20px;
}
.article div img{
  width: 100%;
  height: auto;
}

/*the section under the Article*/

.last-one{
  display: flex;
  max-width: 1270px;
  margin: auto;
}
.f-section{
max-width: 33%;
width: 100%;
margin-right: 2%;
}
.h-f-section{
  background: rgb(74, 155, 247);;
  color: white;
  padding: 10px 0px 10px 10px;
  font-size: 34px;
  font-weight: bold;
}
.b-f-section div div{
  display: flex;
  margin-top: 7px;
}
.l{
  padding-top: 40px;
  padding-left: 15px;
  margin-left: 5px;
  font-size: 18px;
  color: #595959;
}
.d{
  width: 60px;
  height: 80px;
  border-bottom: 4px solid rgb(74, 155, 247);
}
.s-section{
max-width: 65.5%;
margin: auto;
}
.s-section-main{
  max-width: 97%;
  margin: auto;
}
.s-section div{
  font-size: 18px;
  color: #595959;
  font-style: italic;
}
.share-f{
  display: flex;
}
.share-s{
  display: flex;
}
.share-f div{
  margin: 0px 5px;
}
.share-f-l{
  height: 100%;
  max-height: 52px;
  width: 100%;
  max-width: 270px;
}
.share-s div{
  margin: 0px 6px;
}
.share-s-l{
  height: 100%;
  max-height: 52px;
  width: 100%;
  max-width: 266px;
}

/*the footer*/

footer{
  background:  #4d4d4d;
  color: white;
}
.f-footer{
  padding: 20px 0px;
}
.s-footer-center{
  max-width: 95%;
  width: 100%;
  margin: auto;
}
.s-footer{
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #a6a6a6;
  margin-bottom: 20px;
}
.s-footer div{
  max-width: 200px;
  width: 100%;
  margin-right: 10px;
  text-align: left;
  border-right: 2px solid #a6a6a6;
}
.s-footer div:nth-last-child(1n+5){
  padding-bottom: 12px;
}
.s-footer div:nth-child(1n+19){
  margin-bottom: 10px;
}
.s-footer div:nth-child(6n+6){;
  border-right: none;
}
.f-footerLinks{
  color: white;
}
.f-footerLinks:hover{
  text-decoration: underline;
}
.t-footer{
  display: flex;
  flex-wrap: wrap;
}
.t-footer div{
  margin: 5px 0;
}
.s-footerLinks{
  color: white;
  padding-right: 20px;
}
.s-footerLinks:hover{
  text-decoration: underline;
}
.fo-footer{
  padding-bottom: 10px;
}


@media all and (max-width: 1342px){
  .s-footer div{
    max-width: 190px;
    width: 100%;
    )
}



/*another style*/

@media all and (max-width: 1292px){
  header{
    max-width: 1000px;
    margin: auto;
  }
  .l-capital{
    display: none;
  }
  .list-more-boxes{
    max-width: 1000px;
  }
  .links:nth-child(7){
    display: block;
  }
  header div{
    padding: 10px 10px 10px 10px;
  }
nav div{
  max-width: 1000px;
  margin: auto;
}
.first-nav {
  padding-right: 250px;
}
.last-nav{
  padding-right: 0px;
}
.jerceka{
  font-size: 85px;
}
.under-image{
  left: 2%;
  right: 2%;
}
.author{
  padding: 10px 120px 10px 15px;
}
.title-f-p{
width: 660px;
font-size: 20px;
}
.title-s-p{
  font-size: 16px;
}
.logo-for-title-s-p a{
  padding-right: 50px;
}
.text-for-title-s-p{
  padding-right: 150px;
  font-size: 16px;
}
.more-for-title-s-p a{
  border: 1px solid rgb(75, 169, 237);
  padding-top: 5px;
  padding-right: 8px;
  padding-left: 8px;
}
.more-for-title-s-p div{
  font-size: 20px;
  padding: 3px 5px;
}
.article div{
  max-width: 55%;
  padding-top: 100px;
}
.last-one{
  max-width: 1000px;
  margin: auto;
}
.f-section{
width: 31%;
margin-right: 2%;
}
.s-section{
max-width: 68%;
}
.s-footer-center{
  max-width: 1000px;
  margin: auto;
}
.s-footer div{
  width: 155px;
  margin-right: 8px;
}
}
@media all and (max-width:1050px){
.id{
  padding-right: 60px;
}
}
/* another style 1000  culture*/

@media all and (max-width:1000px){
header{
  max-width: 930px;
  width: 100%;
  margin: auto;
}
  header div{
    padding: 10px 12px;
  }
.logo-header{
  padding-right: 5px;
}
.id{
    padding: 10px 12px 5px 12px
  }
.id2{
  display: none;
}
.l-home{
  display: none;
}
.l-capital{
  display: block;
}
.l-culture:hover{
  padding-bottom: 5px;
  border-bottom: 5px solid black;
}
#more span{
  padding-left: 20px;
}
.search{
  padding-left: 10px;
}
.list-more-boxes{
  max-width: 930px;
}
.list-more-boxes div div{
  margin-right: 30px;
}
.links:nth-child(7){
  display: none;
}
.black{
  max-width: 970px;
  width: 100%;
  margin: auto;
}

.middle-nav{
  padding-right: 30px;
}
.first-nav{
  padding-left: 20px;
  padding-right: 30px;
}


.under-image{
  left: 0px;
  right: 0px;
}
.title{
  display: flex;
  flex-direction: column-reverse;
}
.author{
  margin-right: 0px;
}
.right-part{
  margin-left: 0px;
}
.title-f-p{
  max-width: 100%;
  width: 100%;
}
.title-s-p{
  font-size: 50px;
  max-width: 99%;
  margin: auto;
}
.logo-for-title-s-p{
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 7px;
}
.logo-for-title-s-p a{
  border-right: none;
  padding-right: 0px;
}
.text-for-title-s-p{
  display: none;
}
.more-for-title-s-p{
  float: right;
  position: absolute;
  right: 5px;
}
.more-for-title-s-p a{
  border: 5px solid rgb(75, 169, 237);
  padding-top: 0px;
}
.more-for-title-s-p div{
  font-size: 55px;
  padding: 4px 10px 0px 10px;
}


.article div{
  padding-top: 200px;
  max-width: 90%;
  margin: auto;
}



.last-one{
  display: flex;
  flex-direction: column-reverse;
}
.s-section{
  max-width: 90%;
  margin: auto;
}
.f-section{
  max-width: 90%;
  width: 100%;
  margin: auto;
}

footer{
  margin-top: 10px;
}
.s-footer div:nth-child(5n+5){;
  border-right: none;
}
.s-footer div:nth-child(6n+6){;
  border-right: 2px solid #a6a6a6;
}
.s-footer-center{
  max-width: 95%;
  width: 100%;
  margin: auto;
}
.t-footer div{
  text-align: left;
  margin-right: 3px;
  width: 140PX;
}
.t-footer div:nth-child(8){
  width: 280px;
}


}

/* another style */

@media all and (max-width:980px){
header{
  max-width: 860px;
  width: 100%;
  margin: auto;
}
.l-culture{
  display: none;
}
.list-more-boxes{
  max-width: 860px;
}
.black{
  max-width: 900px;
  width: 100%;
}
.jerceka{
  font-size: 75px;
}

}

/* another style  */

@media all and (max-width:910px){
header{
    max-width: 780px;
  }
.l-capital{
    display: none;
  }
  .list-more-boxes{
    max-width: 780px;
  }
  .links:nth-child(7){
    display: block;
  }
  .black{
    max-width: 810px;
  }
.jerceka{
  font-size: 65px;
}
.title-s-p{
  font-size: 40px;
}
.more-for-title-s-p a{
  border: 3px solid rgb(75, 169, 237);
  padding: 0px 6px;
}
.more-for-title-s-p div{
  font-size: 45px;
}


}

/* 850000000000000000000000000000000000 */

@media all and (max-width:874px){

.jerceka{
  font-size: 60px;
}
.title-s-p{
  font-size: 36px;
}
.more-for-title-s-p a{
  border: 2px solid rgb(75, 169, 237);
  padding: 0px 5px;
}
.more-for-title-s-p div{
  font-size: 40px;
}

  .s-footer div:nth-child(5n+5){;
    border-right: 2px solid #a6a6a6;
  }
  .s-footer div:nth-child(4n+4){;
    border-right: none;
  }

}


@media all and (max-width:810px){

header{
  max-width: 720px;
}
  .l-travel{
    display: none;
  }
  .list-more-boxes{
    max-width: 720px;
  }
  .list-more-boxes div div{
    margin-right: 20px;
  }
  .links:nth-child(6){
    display: block;
  }
.black{
  max-width: 750px;
}




}


@media all and (max-width:750px){
header{
  max-width: 660px;
}
  .l-earth{
    display: none;
  }

  .list-more-boxes{
    max-width: 660px;
  }
  .list-more-boxes div div{
    margin-right: 5px;
  }
  .links:nth-child(5){
    display: block;
  }
  .black{
    max-width: 690px;
  }
.black div:nth-last-child(0n+2){
  display: none;
}
.jerceka{
  font-size: 50px;
}
.title-s-p{
  font-size: 32px;
  padding: 4px 0 0px 15px;
}
.more-for-title-s-p a{
  padding: 0px 4px;
}
.more-for-title-s-p div{
  font-size: 34px;
  padding: 3px 7px 0px 7px;
}

}

@media all and (max-width:710px){
  header{
    max-width: 660px;
  }
  .black{
    max-width: 100%;
    width: 100%;
    margin: auto;
  }
  nav div div{
    padding: 15px 0px;
  }
  .first-nav{
    max-width: 100%;
    width: 100%;
    text-align: left;
  }
.middle-nav{
  display: none;
}
#black-menu{
  display: block;
  color: white;
  cursor: pointer;
  padding: 13.5px 25px 13.5px 10px;
}
#black-menu span{
  margin: 0 2px;
}
#black-menu:hover{
  background-color: #333333;
}
#black-menu:active{
  background-color: #333333;
}
#black-menu-list{
  background-color: #333333;
}
#black-menu-list div{
  max-width: 95%;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #595959;
  padding: 10px 0;
}
#black-menu-list div a{
  color: white;
  font-weight: bold;
  font-size: 18px;
}


}

@media all and (max-width:703px){
  .title-f-p{
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
  }
  .title-s-p{
    font-size: 28px;
  }
  .more-for-title-s-p a{
    padding: 0px 2px;
    font-size: 30px;
  }
  .more-for-title-s-p div{
    font-size: 30px;
  }
  .s-footer div:nth-child(4n+4){;
    border-right: 2px solid #a6a6a6;
  }
  .s-footer div:nth-child(3n+3){;
    border-right: none;
  }
  .s-footer div:nth-last-child(1n+2){;
    margin-bottom: 0;
  }
}


@media all and (max-width:685px){
  header{
    max-width: 600px;
  }
  .l-shop{
    display: none;
  }
  .list-more-boxes{
    max-width: 600px;
  }
  .links:nth-child(4){
    display: block;
  }
  .list-more-boxes  div h2{
    margin: 10px 50px 0px 0px;
  }

}

@media all and (max-width:630px){
  header{
    max-width: 550px;
  }
  header div{
    padding: 5px 11px;
  }
  .logo-header{
    padding-top: 0px;
  }
  .id{
    padding-top: 4px;
  }
  .id:hover{
    padding-bottom: 0px;
  }
  .l-news:hover{
    padding-bottom: 0px;
  }
  .l-sport:hover{
    padding-bottom: 0px;
  }
  .l-weather:hover{
    padding-bottom: 0px;
  }
  .l-shop{
    display: block;
  }
  .l-shop:hover{
    padding-bottom: 0px;
  }
  .l-earth{
    display: block;
  }
  .l-earth:hover{
    padding-bottom: 0px;
  }
  .search form input{
    display: none;
  }
  #more{
    padding-top: 3px;
  }
  #more:hover{
    padding-bottom: 0px;
  }
#more span{
  padding-left: 10px;
}
.search{
  padding-top: 5px;
}
.search form button{
background-color: rgb(227, 228, 229);
height: 0px;
}
.list-more-boxes{
  max-width: 550px;
}
.list-more-boxes  div div{
  width: 120px;
}
.links:nth-child(4),.links:nth-child(5){
  display: none;
}
.jerceka{
  font-size: 40px;
}
.title-s-p{
  font-size: 24px;
}
.more-for-title-s-p a{
  font-size: 26px;
}
.more-for-title-s-p div{
  font-size: 26px;
  padding: 3px 5px 0px 5px;
}
.article ul{
  padding-left: 30px;
}

}

@media all and (max-width: 565px){
header{
  max-width:500px;
}
.l-earth{
  display: none;
}
.list-more-boxes{
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
}
.list-more-boxes  div h2{
  margin: 0px 20px 0px 0px;
}
.links:nth-child(5){
  display: block;
}
.jerceka{
  font-size: 30px;
}
.search form input{
  max-width: 40px;
  width: 100%;
}
}
@media all and (max-width: 531px){
  .s-footer div:nth-child(3n+3){;
    border-right: 2px solid #a6a6a6;
  }
  .s-footer div:nth-child(2n+2){
    border-right: none;
  }
  .s-footer div:nth-last-child(0n+3){
    padding-bottom: 12px;
  }
  .s-footer div:nth-last-child(0n+2){
    margin-bottom: 12px;
  }
}

@media all and (max-width: 510px){
header{
max-width: 450px;
}
.l-shop{
  display: none;
}
.list-more-boxes{
  max-width: 450px;
}
.links:nth-child(4){
  display: block;
}




}

@media all and (max-width:455px){
header{
  max-width: 365px;
}
.l-weather{
  display: none;
}
.list-more-boxes{
  max-width: 365px;
}
.links:nth-child(3){
  display: block;
}
.list-more-boxes  div div{
  width: 110px;
}

}
@media all and (max-width:380px){
header{
max-width: 310px;
}
  .l-sport{
    display: none;
  }
  .list-more-boxes{
    max-width: 310px;
  }
  .links:nth-child(2){
    display: block;
  }
.jerceka{
  font-size: 26px;
}



}
@media all and (max-width:360px){
  .s-footer div:nth-child(2n+1){
    border-right: none;
  }
  .nature{
    padding-bottom: 12px;
  }
}
@media all and (max-width:320px){
  header{
    max-width: 320px;
  }
  header div{
    padding: 5px 8px;
  }
  .logo-header h2{
    font-size: 18px;
    padding-top: 3px;
  }
  .author{
    padding-right: 0px;
  }
}
